<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDA</title>

    <link rel="stylesheet" href="/static/css/PDA.css">
    <link rel="stylesheet" href="/static/css/mediapipe.css">
</head>
<body>

    <div id="camera-layer">
        <video id="video" autoplay playsinline muted></video>
        <canvas id="canvas"></canvas>
    </div>

    <div id="cursor"></div>

    <main class="content">

        <a class="back-button" href="/" data-gesture-click>
            go to back
        </a>

        <h1>Personal Digital Notes</h1>

        <p>
            This is a HUB demo page.
            The entire system is controlled by gestures using
            real-time hand tracking.
        </p>

    </main>

    <script type="module" src="/frontend/static/js/mediapipe-core.js"></script>
    <script type="module" src="/frontend/static/js/gesture-system.js"></script>
    <script type="module" src="/frontend/static/js/page-a.js"></script>

</body>
</html>